<a href="https://colab.research.google.com/github/paranedagarcia/Data-Science/blob/master/DS_Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS
## Librería de manipulación de datos

**Resultados de Aprendizaje:**
- Crear y transformar DataFrames.
- Limpiar y preparar datos.

**Contenidos:**
1. Numpy arrays y operaciones
2. Introducción a Pandas
3. Limpieza: nulos, duplicados, tipos
4. Lectura y escritura de archivos
5. Exploración, transformación y limpieza con pandas
6. Transformaciones: merge, pivot, apply
7. EDA:Correlaciones, segmentación y valores atípicos, Análisis automático

## PANDAS SERIES
Una "Serie" es una estructura de una sola dimensión con:
- Datos (numéricos, texto, fechas, etc.)
- Índices (etiquetas únicas para cada valor, por defecto 0,1,2...)

Características clave:
- Homogénea (mismo tipo de dato)
- Índice personalizable
- Soporta operaciones matemáticas y lógicas

In [ ]:
# carga de librerías
import pandas as pd
import numpy as np

In [ ]:
# Desde una lista
s1 = pd.Series([10, 20, 30, 40])
print(s1)

In [ ]:
# Con índices personalizados
s2 = pd.Series(['A', 'B', 'C'], index=['x', 'y', 'z'])
print(s2)

In [ ]:
# Desde diccionario
s3 = pd.Series({'Manzana': 120, 'Banana': 80, 'Naranja': 60})
print(s3)

### Acceso a los elementos

In [ ]:
# creacion de una serie llamada 'serie'
serie = pd.Series([100, 200, 300], index=['ene', 'feb', 'mar'])

In [ ]:
# Por índice numérico
print(serie[2])

In [ ]:
# Por etiqueta
print(serie['ene'])

In [ ]:
# Slicing
print(serie['ene':'feb'])

In [ ]:
# Condicional
print(serie[serie > 150])

### Algunas operaciones simples

In [ ]:
# creamos 2 series, s1 y s2
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([10, 20, 30])

In [ ]:
# Suma
print(s1 + s2)

In [ ]:
# Multiplicación por escalar
print(s1 * 10)

In [ ]:
# Funciones matemáticas
print(s1.apply(lambda x: x**2))

In [ ]:
# Lógica
print(s1 > 1)

### Algunos métodos útiles

In [ ]:
# metodos útiles con series

s = pd.Series([1, 2, 2, 3, 3, 3, 4])
separador = '-' * 40  # caracter separador entre cada sentencia

print(f'{separador}\n Primeros 3 valores: \n{s.head(3)}')           # Primeros 3
print(f'{separador}\n Valores únicos dentro de la serie: \n {s.unique()}')          # Valores únicos: [1,2,3,4]
print(f'{separador}\n Cantidad de valores unicos: {s.nunique()}')         # Cantidad de únicos: 4
print(f'{separador}\n Frecuencias de valores: \n {s.value_counts()}')    # Frecuencias: 3→3, 2→2, 1→1, 4→1
print(f'{separador}\n Serie en orden ascendente: \n {s.sort_values()}')     # Orden ascendente
print(f'{separador}\n Serie ordenada por su índice: \n {s.sort_index()}')      # Orden por índice

## PANDAS DATAFRAME
En un dataframe los datos se despliegan en forma bidimensional, en tablas, con columnas y filas (al estilo de Excel).

In [ ]:
# Desde diccionario
datos = {
    'Nombre': ['Ana', 'Luis', 'María'],
    'Edad': [25, 30, 22],
    'Ciudad': ['CDMX', 'Medellín', 'Guadalajara']
}

df = pd.DataFrame(datos)
print(df)

In [ ]:
# Desde lista de listas + nombres de columnas
df2 = pd.DataFrame([
    [1, 'A', True],
    [2, 'B', False]
], columns=['ID', 'Letra', 'Activo'])

print(df2)

### Acceso a las filas

In [ ]:
# Por etiqueta (si índice es 0,1,2)
print(df.loc[0])

In [ ]:
# Por posición
print(df.iloc[1])

In [ ]:
# Rangos
print(df.loc[0:1])          # Filas 0 y 1
print(df.iloc[0:2])

In [ ]:
# Filas y columnas específicas
print(df.loc[0:1, ['Nombre', 'Edad']])

### Agregar columnas

In [ ]:
#directamente
df['Departamento'] = ['Jalisco', 'Antioquia', 'Jalisco']
print(df)

In [ ]:
# Desde cálculo
df['Edad_doble'] = df['Edad'] * 2
print(df)

In [ ]:
# Con condición
df['Mayor_edad'] = df['Edad'] >= 18
print(df)

### Eliminar columnas

In [ ]:
# Eliminar columna
df_sin_dep = df.drop('Departamento', axis=1)
print(df_sin_dep)

In [ ]:
# Eliminar fila por índice
df_sin_luis = df.drop(1)
print(df_sin_luis)

In [ ]:
# Eliminar varias columnas
df.drop(['Edad_doble', 'Mayor_edad'], axis=1, inplace=True)

### Selección de datos

In [ ]:
# selección con query
df.query('Edad > 25 and Ciudad == "Medellín"')
# O con variables
edad_min = 20
%pip install openpyxl

df.query('Edad > @edad_min')

### Tranformar una planilla Excel en un archivo csv
Dado una planilla particular con un formato tabular pero información adicional, se requiere realizar ciertas operacione para hacerle útil para el anáisis.

In [12]:
# 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# El problema es que al iterar por meses, el nombre 'Enero' puede tener espacios o formato diferente.
# Mejor iterar por filas y columnas, asegurando que 'Enero' se incluya correctamente.
archivo = '../data/TemperaturaMaximaDiaria_2024.xlsx'
# Especificar el engine para archivos .xls antiguos
maximas = pd.read_excel(archivo, header=1, nrows=31, decimal=',')

if 'Dia' not in maximas.columns:
    maximas.rename(columns={maximas.columns[0]: 'Dia'}, inplace=True)
    
fechas = []
temperaturas = []

meses = maximas.columns[1:]  # Ignora la columna 'Dia'

for mes in meses:
    for idx, row in maximas.iterrows():
        dia = row['Dia']
        temp = row[mes]
        # Convertir el valor a float si es posible, reemplazando ',' por '.'
        if isinstance(temp, str):
            temp_clean = temp.replace(',', '.')
            try:
                temp_float = float(temp_clean)
            except ValueError:
                continue  # saltar si no se puede convertir
        else:
            temp_float = temp

        # Solo agregar si el valor de temperatura no es nulo y es numérico
        if pd.notnull(temp_float):
            fechas.append(f"{dia:02d}-{mes}-2024")
            temperaturas.append(temp_float)

df_maximas = pd.DataFrame({'Fecha': fechas, 'Temperatura': temperaturas})

# transforma la columna 'Fecha' en un formato de fecha en español
meses_es = {
    'Enero': 'January', 'Febrero': 'February', 'Marzo': 'March', 'Abril': 'April',
    'Mayo': 'May', 'Junio': 'June', 'Julio': 'July', 'Agosto': 'August',
    'Septiembre': 'September', 'Octubre': 'October', 'Noviembre': 'November', 'Diciembre': 'December'
}

df_maximas['Fecha'] = df_maximas['Fecha'].replace(meses_es, regex=True)
df_maximas['Fecha'] = pd.to_datetime(df_maximas['Fecha'], format='%d-%B-%Y', errors='coerce')
# formatear la columna 'Fecha' para eliminar la hora
df_maximas['Fecha'] = df_maximas['Fecha'].dt.strftime('%Y-%m-%d')

# guardar df_maximas en un archivo 'data/maximas.csv' 
# df_maximas.to_csv('../data/maximas.csv', index=False)
df_maximas.head()

        Fecha  Temperatura
0  2024-01-02         21.8
1  2024-01-03         23.0
2  2024-01-04         22.6
3  2024-01-05         15.6
4  2024-01-06         18.3

In [ ]:
#
archivo = '../data/TemperaturaMaximaDiaria_2024.xlsx'
# Especificar el engine para archivos .xls antiguos
maximas = pd.read_excel(archivo, header=1, nrows=31)
# Renombrar la columna de los días si es necesario
if 'Dia' not in maximas.columns:
    maximas.rename(columns={maximas.columns[0]: 'Dia'}, inplace=True)

# Crear un nuevo DataFrame con columnas 'Fecha' y 'Temperatura'
fechas = []
temperaturas = []

meses = maximas.columns[1:]  # Ignora la columna 'Dia'

for mes in meses:
    for idx, row in maximas.iterrows():
        dia = row['Dia']
        temp = row[mes]
        # Solo agregar si el valor de temperatura no es nulo y es numérico
        if pd.notnull(temp) and isinstance(temp, (int, float, np.float64)):
            fechas.append(f"{dia:02d}-{mes}-2024")
            temperaturas.append(temp)

df_maximas = pd.DataFrame({'Fecha': fechas, 'Temperatura': temperaturas})

# transforma la columna 'Fecha' en un formato de fecha en español
meses_es = {
    'Enero': 'January', 'Febrero': 'February', 'Marzo': 'March', 'Abril': 'April',
    'Mayo': 'May', 'Junio': 'June', 'Julio': 'July', 'Agosto': 'August',
    'Septiembre': 'September', 'Octubre': 'October', 'Noviembre': 'November', 'Diciembre': 'December'
}

df_maximas['Fecha'] = df_maximas['Fecha'].replace(meses_es, regex=True)
df_maximas['Fecha'] = pd.to_datetime(df_maximas['Fecha'], format='%d-%B-%Y', errors='coerce')
# formatear la columna 'Fecha' para eliminar la hora
df_maximas['Fecha'] = df_maximas['Fecha'].dt.strftime('%Y-%m-%d')

# guardar df_maximas en un archivo 'data/maximas.csv' 
# df_maximas.to_csv('../data/maximas.csv', index=False)
df_maximas.head()